@model IEnumerable<WALASEBAI.Models.PFE>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<!-- Search form -->
<form method="get">
    <div class="form-group">
        <label for="searchString">Search:</label>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" />
    </div>
    <div class="form-group">
        <label for="selectedFilter">Filter by:</label>
        <select name="selectedFilter" class="form-control">
            <option value="">All</option>
            <option value="Encadrant" selected="selected">Encadrant</option>
            <option value="Societe">Societe</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Clear</a>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encadrant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Societe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encadrant.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Societe.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
