@model IEnumerable<WALASEBAI.Models.PFE>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encadrant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Societe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encadrant.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Societe.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
