@model WALASEBAI.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaiss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaiss)
        </dd>
    </dl>
</div>

@if (Model.PFEEtudiants != null && Model.PFEEtudiants.Any())
{
    <div>
        <h4>PFE Etudiants</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>PFE ID</th>
                    <th>PFE Titre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pfeEtudiant in Model.PFEEtudiants)
                {
                    <tr>
                        <td>@pfeEtudiant.PFEID</td>
                        <td>@pfeEtudiant.PFE?.Titre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
