@model WALASEBAI.Models.Enseignant

@{
    ViewData["Title"] = "Delete";
}

<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                <a href="../dist/index.html" class="text-gray-500">
                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Apps</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Enseignants</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Delete</li>
        </ul>
        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Are you sure you want to delete ?</h1>
    </div>
    <a asp-action="Index" class="btn btn-danger ms-3 px-4 py-3">Back to list</a>
</div>

<hr />
<br />

    <div class="card mb-5 mb-xl-10">
        <div class="card-body p-9">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Prenom)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prenom)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CIN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CIN)
                </dd>
            </dl>
        </div>
    </div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" />
    </form>
</div>
