@model WALASEBAI.Models.Societe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Societe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
    </dl>
</div>


<!-- Display list of PFEs -->
<h2>PFEs</h2>
@if (Model.Pfes != null && Model.Pfes.Any())
{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Responsable</th>
        </tr>
        @foreach (var pfe in Model.Pfes)
        {
            <tr>
                <td>@pfe.id</td>
                <td>@pfe.Titre</td>
                <td>@pfe.Desc</td>
                <td>@pfe.DateD.ToShortDateString()</td>
                <td>@pfe.DateF.ToShortDateString()</td>
                <td>@(pfe.Encadrant != null ? $"{pfe.Encadrant.Nom} {pfe.Encadrant.Prenom}" : "")</td>
            </tr>
        }
    </table>
}
else
{
    <p>No PFEs found.</p>
}



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
