@model IEnumerable<WALASEBAI.Models.Societe>

@{
    ViewData["Title"] = "Index";
}

<div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                <a href="../dist/index.html" class="text-gray-500">
                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Apps</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Societes</li>
            <li class="breadcrumb-item">
                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
            </li>
            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">List</li>
        </ul>
        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Societes</h1>
    </div>
    <a asp-action="Create" class="btn btn-success ms-3 px-4 py-3">Create New</a>
</div>

<div class="app-content flex-column-fluid">
    <div class="card card-flush">
@using (Html.BeginForm("Index", "Societes", FormMethod.Get))
{
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                <div style="flex:1;display:flex;gap:15px">
                    @Html.TextBox("searchString", null, new { @class = "form-control form-control-solid w-100 ps-12", placeholder = "Search..." })
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
    </div>
}

 <div class="card-body pt-0">
            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
    <thead>
                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>
    </thead>
                <tbody class="fw-semibold text-gray-600">
@foreach (var item in Model) {
        <tr class="odd" >
                            <td class="text-gray-800 fs-5 fw-bold">
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
                            <td class="text-gray-800 fs-5 fw-bold">
                @Html.DisplayFor(modelItem => item.Lib)
            </td>
                            <td class ="text-gray-800 fs-5 fw-bold">
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
                            <td class="text-gray-800 fs-5 fw-bold">
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
                            <td class="text-gray-800 fs-5 fw-bold">
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td class="text-end" >
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light-info btn-sm">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light-success btn-sm">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-light-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    </div>
</div>